body {
  max-width: 1360px;
  /* height: 3840px; */
  width: 100%;
  background: #ffffff;
}
body .main-container {
  max-width: 1110px;
  width: 100%;
}
body .main-container .main1 {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 110px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 115px;
}
body .main-container .main1 .main-details h2 {
  max-width: 475px;
  height: 174px;
  display: inline;
}
body .main-container .main1 .main-details p {
  max-width: 445px;
  height: 56px;
  font-family: "Mulish", san-sarif;
  font-size: 16px;
  color: #111111;
  opacity: 0.8;
  display: inline;
}
body .main-container .main1 .form-container {
  max-width: 475px;
  width: 100%;
}
body .main-container .main1 .form-container .main-form {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .main-container .main1 .form-container .main-form input {
  width: 350px;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}
body .main-container .main1 .form-container .main-form input input:focus {
  background-color: rgba(74, 80, 242, 0.61);
}
body .main-container .main1 .form-container .main-form input input:hover {
  background-color: rgba(74, 80, 242, 0.61);
}
body .main-container .main1 .form-container .main-form textarea {
  width: 350px;
  border: none;
  border-bottom: 1px solid black;
}
body .main-container .main1 .form-container .main-form textarea textarea:focus {
  background-color: rgba(74, 80, 242, 0.61);
}
body .main-container .main1 .form-container .main-form textarea textarea:hover {
  background-color: rgba(74, 80, 242, 0.61);
}
body .main-container .main1 .form-container .main-form textarea .label {
  font-size: 16px;
  font-weight: bold;
  color: #111111;
  margin-bottom: 10px;
}
body .main-container .main1 .form-container .main-form textarea .input {
  font-size: 16px;
  color: #111111;
}
body .main-container .main1 .form-container .main-form .button {
  margin-top: 40px;
  max-width: 125px;
  width: 100%;
  height: 50px;
  background-color: #4a4ff2;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
}
body .main-container .main1 .form-container .main-form .button .button:hover {
  background-color: rgba(74, 80, 242, 0.61);
  color: #111111;
  text-decoration: underline;
}